[submodule "interface"]
	path = interface
	url = https://github.com/TKUICLab-humanoid/hurocup_interface_submodule.git
	branch = master
[submodule "src/walkinggait"]
	path = src/walkinggait
	url = https://github.com/TKUICLab-humanoid/walkinggait_submodule.git
	branch = master
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/TKUICLab-humanoid/usb_cam_submodule.git
	branch = master
[submodule "src/tku_msgs"]
	path = src/tku_msgs
	url = https://github.com/TKUICLab-humanoid/tku_msgs_submodule.git
	branch = master
[submodule "src/tku_libs"]
	path = src/tku_libs
	url = https://github.com/TKUICLab-humanoid/tku_libs_submodule.git
	branch = master
[submodule "src/package"]
	path = src/package
	url = https://github.com/TKUICLab-humanoid/motionpackage_submodule.git
	branch = master
[submodule "src/imageprocess"]
	path = src/imageprocess
	url = https://github.com/TKUICLab-humanoid/imageprocess_submodule.git
	branch = master
[submodule "src/motionpackage"]
	path = src/motionpackage
	url = https://github.com/TKUICLab-humanoid/motionpackage_submodule.git
[submodule "src/strategy/ar"]
	path = src/strategy/ar
	url = https://github.com/TKUICLab-humanoid/AR.git
[submodule "src/strategy/bb"]
	path = src/strategy/bb
	url = https://github.com/TKUICLab-humanoid/BB.git
[submodule "src/strategy/us"]
	path = src/strategy/us
	url = https://github.com/TKUICLab-humanoid/US.git
[submodule "src/strategy/mar"]
	path = src/strategy/mar
	url = https://github.com/TKUICLab-humanoid/MAR.git
[submodule "src/strategy/sp"]
	path = src/strategy/sp
	url = https://github.com/TKUICLab-humanoid/SP.git
[submodule "src/strategy/sr"]
	path = src/strategy/sr
	url = https://github.com/TKUICLab-humanoid/SR.git
[submodule "src/strategy/wl"]
	path = src/strategy/wl
	url = https://github.com/TKUICLab-humanoid/WL.git
[submodule "src/strategy/obs"]
	path = src/strategy/obs
	url = https://github.com/TKUICLab-humanoid/OBS.git
